node_modules
npm-debug.log
dist
.git
.gitignore
.env
.env.local
.env.*.local
.DS_Store
*.pem
.vscode
.idea
*.iml
.npm
.eslintcache
.next
.nuxt
build
coverage
.nyc_output
.cache
.parcel-cache
.eslintcache
*.tgz
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.git
.gitignore
docker-compose*.yml
README.md
